:root {
  --colorPrincipal: #f5efe3;
  --colorSecundario: #f7d3ba;
  --colorTerciario: #e6e7e5;
  --colorCuarto: #a6aa9c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

/* maquetacion */
body {
  display: grid;
  grid-template-rows: 8vh 84vh 8vh;
}

.header-container {
  grid-row: 1 / 2;
  background-color: var(--colorSecundario);
}

.main-container {
  grid-row: 2 / 3;
  background-color: var(--colorPrincipal);
}

.footer-container {
  grid-row: 3 / 4;
  background-color: var(--colorTerciario);
}

/* main */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container h1 {
  margin-top: 30px;
}
.main-game {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.game-container {
  width: 88px;
  height: 88px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: black 0px 0px 7px 0px;
}
.game-text {
  text-transform: capitalize;
  font-size: 2rem;
}
/* maquetacion del juego */
.main-game {
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  grid-template-rows: repeat(3, minmax(80px, 1fr));
}

.game-btn {
  position: absolute;
  top: 50%;
  width: 200px;
  height: 50px;
  font-size: 1.8rem;
  border: none;
  border-radius: 15px;
  border-bottom: 4px solid #1f3346;
  outline: none;
  background-color: var(--colorCuarto);
  box-shadow: black 0 0 3px 1px;

  /* animacion */
  transition: display 2s;
  -webkit-transition: display 2s;
  transition: visibility 1s;
  -webkit-transition: visibility 1s;
}
.game-btn:hover {
  color: #ecf0f1;
  border: 1px solid var(--colorTerciario);
  border-bottom: 4px solid var(--colorTerciario);
  cursor: pointer;
}

.game-btn:active {
  transform: scale(0.95);
}

.hide {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;

  visibility: hidden;
}

/* animacion */
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    display: block;
  }

  to {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    display: block;
  }

  to {
    display: none;
    opacity: 0;
  }
}

/* colores de los cuadros */
.rojo {
  background-color: #e23e57;
}

.rojizo {
  background-color: #e84545;
}
.naranjillo {
  background-color: #e03e36;
}
.vino {
  background-color: #a40a3c;
}
.vinillo {
  background-color: #6b0848;
}
.rojazo {
  background-color: #af0404;
}
.rojorojo {
  background-color: #900c3f;
}
.rojito {
  background-color: #f0134d;
}
.negro {
  background-color: #1e2022;
}
